@import './react-tags.scss';

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.title {
    font-family: 'Merriweather', serif;
}
.tag {
    border-radius: 5px;
    background: #e3e3e3;
    border: solid 1px #afafaf;
    padding: 1px 8px;
    display: inline-block;
    font-size: 14px;
}
.ql-editor p {
    margin: 10px 0 !important;
}