@import './typography.scss';
@import './react-tags.scss';

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.title {
    font-family: 'Merriweather', serif;
}

.ql-editor p {
    margin: 10px 0 !important;
}
img {
    max-width: 100%;
}